.battle span::selection {
  background: transparent;
}

.battle {
  margin-top: 35px;
  display: flex;
  background: linear-gradient(45deg, #a2c1d3, #e43cc3);
  height: 95vh;
  z-index: 2;
}

.vs {
  width: 15vw;
  position: absolute;
  top: 45vh; /* t = 31.5 l = 42.5 */
  left: 42.5vw;
  opacity: 0.8;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.5s;
}

.vs.invisible {
  opacity: 0;
}

.battle section {
  position: relative;
  width: 50vw;
  margin: 1vh 0px;
  display: flex;
  cursor: pointer;
}

.battle section img {
  max-width: 98%;
  min-width: 80%;
  max-height: 98%;
  object-fit: contain;
  transition: all 0.5s;
}

.battle section img:hover {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

.battle section span {
  position: absolute;
  top: 75%;
  font-size: 48px;
  font-weight: 400;
  pointer-events: none;
  margin: 0 20px;
}

.left {
  justify-content: flex-end;
}

.right {
  justify-content: flex-start;
}

@media (max-width: 700px) {
  .battle section span {
    font-size: 32px;
  }
}

@media (max-width: 350px) {
  .battle section span {
    font-size: 18px;
  }
}
