.scoreboard {
  color: white;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard .alert {
  font-size: 2.5vw;
  color: black;
  font-style: italic;
  background-color: #ca6fc8e8;
  margin: 3vw 10vw 10vw 10vw;
  padding: 2vw;
  text-align: center;
  border-radius: 30px;
}

.scoreboard h1 {
  margin-top: 6vh;
  font-size: 5vw;
  font-weight: bold;
}

.scoreboard main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
}

.score-elem {
  position: relative;
  margin-bottom: 5vw;
  font-size: 2vw;
  width: 100%;
}

.score-elem-meter {
  border-radius: 1vw;
  font-weight: 400;
  background: linear-gradient(45deg, #a2c1d3, #e43cc3);
  color: black;
  width: 70vw;
  height: 3vw;
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
}

.score-elem img {
  position: absolute;
  bottom: 1.5vw;
  height: 7vw;
  right: 5vw;
  object-fit: contain;
}

.score-elem > div {
  display: flex;
}

.score-elem a {
  color: white;
  text-decoration: none;
}

.score-elem a:hover {
  color: #ca6fc9;
}
