.scoreboard {
  color: white;
  margin-top: 7vh;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  background-color: #111;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard h1 {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.scoreboard main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.score-elem {
  position: relative;
  margin-bottom: 120px;
  font-size: 30px;
  width: 70vw;
}

.score-elem-meter {
  border-radius: 20px;
  font-weight: 400;
  background: linear-gradient(45deg, #a2c1d3, #e43cc3);
  color: #111;
  width: 70vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.score-elem img {
  position: absolute;
  bottom: 20px;
  height: 150px;
  right: 100px;
  object-fit: contain;
  box-shadow: 2px 2px 8px #111;
}

.score-elem > div {
  display: flex;
}

.score-elem a {
  color: white;
  text-decoration: none;
}

.score-elem a:hover {
  color: #ca6fc9;
}

@media (max-width: 1000px) and (min-width: 701px) {
  .score-elem {
    margin-bottom: 70px;
  }

  .score-elem-meter {
    justify-content: flex-start;
    padding-right: 0px;
    padding-left: 20px;
  }

  .score-elem img {
    right: 0;
    height: 100px;
  }
}

@media (max-width: 700px) {
  .score-elem {
    text-align: center;
    margin-bottom: 40px;
  }

  .score-elem img {
    position: static;
    border-radius: 20px;
    box-shadow: none;
  }

  .score-elem-meter {
    background: #111111;
    margin-top: 5px;
    height: 100%;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 15px 0 5px 0;
    color: #ffffff;
  }
}
