body {
  margin: 0px;
  box-sizing: border-box;
  color: white;
  font-family: 'Exo 2', sans-serif;
  background-color: black;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #a2c1d3;
  border-radius: 100%;
}

::-webkit-scrollbar-thumb {
  background: #c47ecb;
  border-radius: 100%;
}

::-webkit-scrollbar-thumb:hover {
  background: #e43cc3;
}
